@import url(https://fonts.googleapis.com/css?family=:regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-book:before {
  content: "\e900";
}

._icon-building:before {
  content: "\e901";
}

._icon-cheked:before {
  content: "\e902";
}

._icon-email:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-heart:before {
  content: "\e905";
}

._icon-inst:before {
  content: "\e906";
}

._icon-leaf:before {
  content: "\e907";
}

._icon-plain:before {
  content: "\e908";
}

._icon-play:before {
  content: "\e909";
}

._icon-twitter:before {
  content: "\e90a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #5e6282;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.25rem 1.5625rem;
  -webkit-box-shadow: 0 1.25rem 2.1875rem 0 rgba(241, 165, 1, 0.15);
          box-shadow: 0 1.25rem 2.1875rem 0 rgba(241, 165, 1, 0.15);
  background-color: #f1a501;
  border-radius: 0.625rem;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
}

.button._fw {
  width: 100%;
}

.button__orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: rgb(9, 9, 9);
}

.popup__close::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
}

.popup__text iframe {
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-top__label {
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
}

.header-top__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.header-top__label-upercase {
  text-transform: uppercase;
}

.header-top__label-left {
  text-align: left;
}

.header-top__title {
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: #181e4b;
}

.header-top__title-left {
  text-align: left;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
}

.header._header-scroll {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  background-color: rgba(220, 220, 224, 0.8);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-transition: min-height 0.8s;
  transition: min-height 0.8s;
}

._header-scroll .header__container {
  -webkit-transition: min-height 0.8s;
  transition: min-height 0.8s;
  min-height: 4.375rem;
}

.header__logo {
  position: relative;
  z-index: 50;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  row-gap: 1.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.menu__link {
  font-weight: 400;
  font-size: 1.0625rem;
  color: #212832;
}

.action {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.0625rem;
  color: #212832;
}

.action__sing-up {
  padding: 0.5625rem 1.375rem;
  background-color: transparent;
  border: 0.0625rem solid #5e6282;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr auto;
  position: relative;
}

.footer__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(80%, 50%);
      -ms-transform: translate(80%, 50%);
          transform: translate(80%, 50%);
  width: 16.5rem;
  height: 22.9375rem;
  border-radius: 50%;
  background-color: #d5aee4;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17.5rem 1fr auto;
  grid-template-columns: 17.5rem 1fr auto;
  row-gap: 1.25rem;
}

.footer__title {
  font-weight: 500;
  color: #181e4b;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.footer__text {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.2307692308;
}

.footer__copy {
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.select-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 1.25rem;
}

.select-footer__title {
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1.2380952381;
  color: #181e4b;
}

.select-footer__item {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2222222222;
}

.action-footer__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: 0.01em;
}

.action-footer__title:not(:last-child) {
  margin-bottom: 1rem;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.social-footer:not(:last-child) {
  margin-bottom: 1.625rem;
}

.social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5625rem;
  height: 2.5625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5625rem;
          flex: 0 0 2.5625rem;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.app-footer {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.page__travel {
  position: relative;
}

.page__travel::before {
  position: absolute;
  top: 0;
  left: -30%;
  content: "";
  border-radius: 100%;
  width: 29.875rem;
  height: 31rem;
  -webkit-filter: blur(150px);
          filter: blur(150px);
  background-color: #8e16bd;
  opacity: 0.3;
}

.page__travel::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 44rem;
  height: 45.3125rem;
  background: url("../img/header/decore-01.svg") 0 0 no-repeat;
}

.travel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel__body {
  padding-top: 6.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 46.581197%;
          flex: 1 1 46.581197%;
  /* 545/1170 */
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 1.25rem;
}

.travel__images {
  position: relative;
  padding-top: 6.25rem;
}

.travel__girl img {
  max-width: 100%;
}

.travel__plane-one {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
}

.travel__plane-two {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25%;
  left: 78%;
}

.boby-travel__label {
  font-weight: 700;
  text-transform: uppercase;
  color: #df6951;
}

.boby-travel__title {
  font-weight: 700;
  line-height: 106%;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.boby-travel__title span span {
  position: relative;
}

.boby-travel__title span span::after {
  content: "";
  position: absolute;
  width: 24.0625rem;
  height: 100%;
  top: -0.625rem;
  left: -1.875rem;
  z-index: -1;
  background: url("../img/header/Decore-02.svg") bottom left no-repeat;
}

.boby-travel__text {
  font-weight: 500;
  line-height: 187%;
}

.boby-travel__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.25rem;
}

.boby-travel .btn-boby-travel__find {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
}

.boby-travel .btn-boby-travel__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.0625rem;
}

.boby-travel .btn-boby-travel__play::before {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.25rem;
          flex: 0 0 3.25rem;
  -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(223, 105, 81, 0.3);
          box-shadow: 0 0.9375rem 1.875rem 0 rgba(223, 105, 81, 0.3);
  background-color: #df6951;
  color: white;
  font-size: 0.8125rem;
}

.card-services {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
}

.card-services__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 9.375rem 1fr;
  grid-template-rows: 9.375rem 1fr;
  padding: 0rem 2.8125rem 2.75rem 2.75rem;
}

.card-services__item::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1.875rem 0 0.625rem 0;
  width: 6.25rem;
  height: 6.25rem;
  background-color: #df6951;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  opacity: 0;
}

.card-services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-services__body {
  max-width: 11.25rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card-services__title {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  color: #181e4b;
}

.card-services__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.card-services__text {
  font-weight: 500;
  line-height: 162%;
  text-align: center;
}

.destinations__container {
  position: relative;
}

.destinations__container::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 6rem;
  height: 15.75rem;
  bottom: 10.625rem;
  right: -1.875rem;
  background: url("../img/destanition/decor-spiral.svg") no-repeat;
}

.destinations__body:not(:last-child) {
  margin-bottom: 3.75rem;
}

.destinations-card {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.625rem, 1fr));
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
}

.destinations-card__item {
  position: relative;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  overflow: hidden;
  border-radius: 1.5rem;
}

.destinations-card__image-ibg {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  padding-top: 145.54%;
  /* 457/314 */
}

.body-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.25rem;
  padding: 1.6875rem 1.5625rem 2.625rem 1.25rem;
  background-color: #ffffff;
  border-radius: 0 0 1.5rem 1.5rem;
}

.body-content__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 125%;
}

.body-content__cash {
  -ms-grid-column-align: end;
      justify-self: end;
}

.body-content__trip {
  font-weight: 500;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.body-content__trip._icon-plain {
  color: #181e4b;
}

.trip__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.875rem;
}

.trip__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trip__card {
  position: relative;
  z-index: 7;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52.649573%;
          flex: 0 0 52.649573%;
  /* 616/1170 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trip__card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 12.5rem;
  height: 18.75rem;
  background-color: #59b1e6;
  -webkit-filter: blur(9.375rem);
          filter: blur(9.375rem);
}

.content-trip__body:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.item-contect__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3125rem;
}

.item-contect__card:not(:last-child) {
  margin-bottom: 3rem;
}

.item-contect__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.item-contect__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.item-contect__title {
  font-weight: 700;
  line-height: 125%;
}

.item-contect__text {
  font-weight: 400;
  line-height: 125%;
}

.content-card-trip {
  position: relative;
  z-index: 5;
  width: 23.125rem;
  height: 25rem;
  padding: 1.25rem 2.1875rem 1.5625rem;
  background-color: white;
  border-radius: 1.625rem;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
}

.content-card-trip__image-ibg {
  overflow: hidden;
  border: 1px solid #000;
  padding-top: 50.155763%;
  /* 161/321 */
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.content-card-trip__image-ibg:not(:last-child) {
  margin-bottom: 1.625rem;
}

.content-card-trip__image-ibg img {
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.content-card-trip__image-ibg img:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.content-card-trip__link {
  cursor: pointer;
}

.body-trip__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.245;
  letter-spacing: 0.01em;
  color: #181e4b;
}

.body-trip__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.body-trip__link:hover {
  text-decoration: underline;
}

.body-trip__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.8125rem;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.01em;
}

.body-trip__block:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.body-trip__date:not(:last-child)::after {
  content: "";
  margin-left: 0.1875rem;
  border: 0.0625rem solid #84829a;
  width: 1rem;
  height: 100%;
  background-color: #84829a;
}

.action-trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.action-trip:not(:last-child) {
  margin-bottom: 1.875rem;
}

.action-trip__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.action-trip__link::before {
  font-size: 0.875rem;
}

.action-trip__link:hover {
  background-color: #e1a494;
}

.action-trip__link:hover::before {
  color: black;
}

.build-trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.build-trip__going {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.9375rem;
}

.build-trip__going::before {
  font-size: 1.25rem;
}

.build-trip__heart::before {
  font-size: 1.25rem;
}

.testimonials__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.875rem;
}

.testimonials__header:not(:last-child) {
  margin-bottom: 5.125rem;
}

.testimonials__gotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.testimonials__gotts .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #e5e5e5;
  border-radius: 50%;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.testimonials__gotts .swiper-pagination-bullet-active {
  background-color: #39425d;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.testimonials__slider {
  padding: 2.1875rem 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__slide {
  opacity: 0 !important;
}

.testimonials__slide.swiper-slide-active {
  opacity: 1 !important;
}

.testimonials__arrows {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 4.5625rem;
  font-size: 0.875rem;
  color: #39425d;
}

.testimonials__arrow.swiper-button-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.testimonials__arrow.swiper-button-prev.swiper-button-disabled {
  color: rgba(189, 80, 22, 0.4745098039);
}

.testimonials__arrow.swiper-button-next.swiper-button-disabled {
  color: rgba(189, 80, 22, 0.4745098039);
}

.slide-testimonials {
  position: relative;
  padding: 1.875rem 2.1875rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background-color: #fff;
  -webkit-transition: bacground-color 1s;
  transition: bacground-color 1s;
}

.swiper-slide-active .slide-testimonials {
  margin-right: 2.5rem;
}

.slide-testimonials__avatar {
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide-testimonials__text {
  font-weight: 500;
  line-height: 2;
}

.slide-testimonials__text:not(:last-child) {
  margin-bottom: 2.125rem;
}

.slide-testimonials__name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
}

.slide-testimonials__name:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.slide-testimonials__position {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.label__item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}

.lebel__link {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0.625rem;
  border-radius: 0.625rem;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.subscribe__container {
  position: relative;
  z-index: 3;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  background: rgba(223, 215, 249, 0.2);
}

.content-subscribe {
  margin: 0 auto;
}

.content-subscribe__title {
  font-weight: 600;
  line-height: 1.696969697;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 0.625rem;
  max-width: 39.0625rem;
}

.form__line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1.5625rem 0rem 1.5625rem 3.125rem;
  border-radius: 0.625rem;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow 0.7s;
  transition: -webkit-box-shadow 0.7s;
  transition: box-shadow 0.7s;
  transition: box-shadow 0.7s, -webkit-box-shadow 0.7s;
}

.swiper {
  overflow: hidden;
}

.swiper-fade .swiper-slide {
  opacity: 0;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .card-services__item:hover {
    position: relative;
    border-radius: 2.25rem;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
    background-color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .card-services__item:hover::after {
    opacity: 1;
    -webkit-transform: translate(-30%, 50%);
        -ms-transform: translate(-30%, 50%);
            transform: translate(-30%, 50%);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
}

@media (min-width: 75em) {
  .header-top__title {
    font-size: 3.125rem;
  }

  .header__container {
    min-height: 7.5rem;
  }

  .menu__body {
    -webkit-column-gap: 5.375rem;
       -moz-column-gap: 5.375rem;
            column-gap: 5.375rem;
  }

  .menu__list {
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }

  .action {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }

  .footer__container {
    padding-top: 3.125rem;
  }

  .footer__container {
    padding-bottom: 5rem;
  }

  .footer__container {
    row-gap: 5rem;
  }

  .footer__title {
    font-size: 2.75rem;
  }

  .select-footer__title:not(:last-child) {
    margin-bottom: 2.125rem;
  }

  .action-footer {
    justify-items: center;
  }

  .travel__body {
    row-gap: 2.125rem;
  }

  .boby-travel__label {
    font-size: 1.25rem;
  }

  .boby-travel__label:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .boby-travel__title {
    font-size: 5.25rem;
  }

  .boby-travel__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .page__services {
    padding-top: 3.4375rem;
  }

  .page__services {
    padding-bottom: 3.125rem;
  }

  .services__body:not(:last-child) {
    margin-bottom: 3rem;
  }

  .page__destinations {
    padding-top: 3.125rem;
  }

  .page__destinations {
    padding-bottom: 5.625rem;
  }

  .page__trip {
    padding-top: 3.125rem;
  }

  .page__trip {
    padding-bottom: 5.625rem;
  }

  .trip__content {
    padding-right: 7.1875rem;
  }

  .page__testimonials {
    padding-top: 5rem;
  }

  .page__testimonials {
    padding-bottom: 5rem;
  }

  .page__label {
    padding-top: 3.125rem;
  }

  .page__label {
    padding-bottom: 3.125rem;
  }

  .page__subscribe {
    padding-top: 3.125rem;
  }

  .page__subscribe {
    padding-bottom: 5.625rem;
  }

  .subscribe__container {
    border-radius: 8.0625rem 1.25rem 1.25rem 1.25rem;
  }

  .subscribe__container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4.375rem;
    height: 4.375rem;
    background: url("../img/subscribe/decor-play.svg") 0 0 no-repeat;
    -webkit-transform: translate(20%, -20%);
        -ms-transform: translate(20%, -20%);
            transform: translate(20%, -20%);
  }

  .subscribe__container::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 9.5625rem;
    height: 10.375rem;
    bottom: -4.375rem;
    right: -5rem;
    background: url("../img/subscribe/decor-plus.svg") 0 0 no-repeat;
  }

  .content-subscribe {
    padding-top: 5rem;
  }

  .content-subscribe {
    padding-bottom: 5rem;
  }

  .content-subscribe {
    padding-left: 15.1875rem;
  }

  .content-subscribe {
    padding-right: 9.6875rem;
  }

  .content-subscribe__title {
    font-size: 2.0625rem;
  }

  .content-subscribe__title:not(:last-child) {
    margin-bottom: 4.625rem;
  }

  .form__input {
    padding-top: 0.625rem;
  }

  .form__input {
    padding-bottom: 0.625rem;
  }
}

@media (max-width: 75em) {
  .destinations__container::after {
    display: none;
  }
}

@media (max-width: 20em) {
  .header-top__title {
    font-size: 1.875rem;
  }

  .header__container {
    min-height: 2.5rem;
  }

  .menu__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .action {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer__container {
    padding-top: 1.25rem;
  }

  .footer__container {
    padding-bottom: 1.25rem;
  }

  .footer__container {
    row-gap: 1.875rem;
  }

  .footer__title {
    font-size: 1.875rem;
  }

  .select-footer__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .travel__body {
    row-gap: 0.9375rem;
  }

  .boby-travel__label {
    font-size: 1rem;
  }

  .boby-travel__label:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .boby-travel__title {
    font-size: 2.5rem;
  }

  .boby-travel__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .page__services {
    padding-top: 1.25rem;
  }

  .page__services {
    padding-bottom: 1.25rem;
  }

  .services__body:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .page__destinations {
    padding-top: 1.25rem;
  }

  .page__destinations {
    padding-bottom: 1.875rem;
  }

  .page__trip {
    padding-top: 1.25rem;
  }

  .page__trip {
    padding-bottom: 1.875rem;
  }

  .trip__content {
    padding-right: 1.875rem;
  }

  .page__testimonials {
    padding-top: 1.25rem;
  }

  .page__testimonials {
    padding-bottom: 1.25rem;
  }

  .page__label {
    padding-top: 1.25rem;
  }

  .page__label {
    padding-bottom: 1.25rem;
  }

  .page__subscribe {
    padding-top: 1.25rem;
  }

  .page__subscribe {
    padding-bottom: 1.25rem;
  }

  .content-subscribe {
    padding-top: 1.25rem;
  }

  .content-subscribe {
    padding-bottom: 1.25rem;
  }

  .content-subscribe {
    padding-left: 1.25rem;
  }

  .content-subscribe {
    padding-right: 1.25rem;
  }

  .content-subscribe__title {
    font-size: 1.5625rem;
  }

  .content-subscribe__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .form__input {
    padding-top: 0.3125rem;
  }

  .form__input {
    padding-bottom: 0.3125rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__body {
    -ms-grid-columns: 17.5rem 1fr;
    grid-template-columns: 17.5rem 1fr;
  }

  .travel__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .testimonials__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .testimonials__slide {
    padding-right: 0;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    padding: 6.25rem 1.25rem 2.5rem 1.25rem;
    overflow: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #5e6282;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    top: 0;
    left: -100%;
    background-color: #f1a501;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::after {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .select-footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .card-services__item {
    border-radius: 2.25rem;
    padding: 0rem 2.8125rem 2.75rem 2.75rem;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
    background-color: #fff;
  }

  .trip__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-card-trip {
    width: 100%;
    height: 100%;
  }

  .testimonials__arrows {
    display: none;
  }

  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .header-top__title {
      font-size: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .header-top__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (min-height: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
    .header__container {
      min-height: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem );
    }
}

@supports not (min-height: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
    .header__container {
      min-height: calc(2.5rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.25rem  +  7.5vw , 5.375rem )) or (column-gap: clamp( 1.25rem , -0.25rem  +  7.5vw , 5.375rem ))) {
    .menu__body {
      -webkit-column-gap: clamp( 1.25rem , -0.25rem  +  7.5vw , 5.375rem );
         -moz-column-gap: clamp( 1.25rem , -0.25rem  +  7.5vw , 5.375rem );
              column-gap: clamp( 1.25rem , -0.25rem  +  7.5vw , 5.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.25rem  +  7.5vw , 5.375rem )) or (column-gap: clamp( 1.25rem , -0.25rem  +  7.5vw , 5.375rem ))) {
    .menu__body {
      -webkit-column-gap: calc(1.25rem + 4.125 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.25rem + 4.125 * (100vw - 20rem) / 55);
              column-gap: calc(1.25rem + 4.125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.1761363636rem  +  5.5681818182vw , 4rem )) or (column-gap: clamp( 0.9375rem , -0.1761363636rem  +  5.5681818182vw , 4rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.1761363636rem  +  5.5681818182vw , 4rem );
         -moz-column-gap: clamp( 0.9375rem , -0.1761363636rem  +  5.5681818182vw , 4rem );
              column-gap: clamp( 0.9375rem , -0.1761363636rem  +  5.5681818182vw , 4rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.1761363636rem  +  5.5681818182vw , 4rem )) or (column-gap: clamp( 0.9375rem , -0.1761363636rem  +  5.5681818182vw , 4rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 3.0625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 3.0625 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 3.0625 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem )) or (column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem ))) {
    .action {
      -webkit-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem );
         -moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem );
              column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem )) or (column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem ))) {
    .action {
      -webkit-column-gap: calc(0.9375rem + 2.5 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 2.5 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .footer__container {
      padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .footer__container {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (row-gap: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .footer__container {
      row-gap: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .footer__container {
      row-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.5568181818rem  +  1.5909090909vw , 2.75rem )) {
    .footer__title {
      font-size: clamp( 1.875rem , 1.5568181818rem  +  1.5909090909vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5568181818rem  +  1.5909090909vw , 2.75rem )) {
    .footer__title {
      font-size: calc(1.875rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5056818182rem  +  2.1590909091vw , 2.125rem )) {
    .select-footer__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5056818182rem  +  2.1590909091vw , 2.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5056818182rem  +  2.1590909091vw , 2.125rem )) {
    .select-footer__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 55);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.5056818182rem  +  2.1590909091vw , 2.125rem )) {
    .travel__body {
      row-gap: clamp( 0.9375rem , 0.5056818182rem  +  2.1590909091vw , 2.125rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.5056818182rem  +  2.1590909091vw , 2.125rem )) {
    .travel__body {
      row-gap: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .boby-travel__label {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .boby-travel__label {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .boby-travel__label:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .boby-travel__label:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.5rem , 1.5rem  +  5vw , 5.25rem )) {
    .boby-travel__title {
      font-size: clamp( 2.5rem , 1.5rem  +  5vw , 5.25rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.5rem  +  5vw , 5.25rem )) {
    .boby-travel__title {
      font-size: calc(2.5rem + 2.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .boby-travel__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .boby-travel__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.4545454545rem  +  3.9772727273vw , 3.4375rem )) {
    .page__services {
      padding-top: clamp( 1.25rem , 0.4545454545rem  +  3.9772727273vw , 3.4375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.4545454545rem  +  3.9772727273vw , 3.4375rem )) {
    .page__services {
      padding-top: calc(1.25rem + 2.1875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__services {
      padding-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__services {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem )) {
    .services__body:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem )) {
    .services__body:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__destinations {
      padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__destinations {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem )) {
    .page__destinations {
      padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem )) {
    .page__destinations {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__trip {
      padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__trip {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem )) {
    .page__trip {
      padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem )) {
    .page__trip {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 1.875rem , -0.0568181818rem  +  9.6590909091vw , 7.1875rem )) {
    .trip__content {
      padding-right: clamp( 1.875rem , -0.0568181818rem  +  9.6590909091vw , 7.1875rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , -0.0568181818rem  +  9.6590909091vw , 7.1875rem )) {
    .trip__content {
      padding-right: calc(1.875rem + 5.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .page__testimonials {
      padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .page__testimonials {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .page__testimonials {
      padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .page__testimonials {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__label {
      padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__label {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__label {
      padding-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__label {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__subscribe {
      padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .page__subscribe {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.3409090909rem  +  7.9545454545vw , 5.625rem )) {
    .page__subscribe {
      padding-bottom: clamp( 1.25rem , -0.3409090909rem  +  7.9545454545vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.3409090909rem  +  7.9545454545vw , 5.625rem )) {
    .page__subscribe {
      padding-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .content-subscribe {
      padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .content-subscribe {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .content-subscribe {
      padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .content-subscribe {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.25rem , -3.8181818182rem  +  25.3409090909vw , 15.1875rem )) {
    .content-subscribe {
      padding-left: clamp( 1.25rem , -3.8181818182rem  +  25.3409090909vw , 15.1875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -3.8181818182rem  +  25.3409090909vw , 15.1875rem )) {
    .content-subscribe {
      padding-left: calc(1.25rem + 13.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 1.25rem , -1.8181818182rem  +  15.3409090909vw , 9.6875rem )) {
    .content-subscribe {
      padding-right: clamp( 1.25rem , -1.8181818182rem  +  15.3409090909vw , 9.6875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -1.8181818182rem  +  15.3409090909vw , 9.6875rem )) {
    .content-subscribe {
      padding-right: calc(1.25rem + 8.4375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3806818182rem  +  0.9090909091vw , 2.0625rem )) {
    .content-subscribe__title {
      font-size: clamp( 1.5625rem , 1.3806818182rem  +  0.9090909091vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3806818182rem  +  0.9090909091vw , 2.0625rem )) {
    .content-subscribe__title {
      font-size: calc(1.5625rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0227272727rem  +  6.1363636364vw , 4.625rem )) {
    .content-subscribe__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.0227272727rem  +  6.1363636364vw , 4.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0227272727rem  +  6.1363636364vw , 4.625rem )) {
    .content-subscribe__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .form__input {
      padding-top: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .form__input {
      padding-top: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .form__input {
      padding-bottom: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.3125rem , 0.1988636364rem  +  0.5681818182vw , 0.625rem )) {
    .form__input {
      padding-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(241, 165, 1, 0.6509803922);
    color: #181e4b;
  }

  .popup__close:hover {
    color: red;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .action__login:hover {
    text-decoration: underline;
  }

  .action__sing-up:hover {
    color: #fff;
    background-color: #f1a501;
  }

  .social-footer__link:hover {
    background-color: #756561;
  }

  .destinations-card__image-ibg:hover {
    -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
            transform: scale(1.09);
  }

  .body-content__link:hover {
    text-decoration: underline;
    color: #181e4b;
  }

  .item-contect__icon:hover {
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
  }

  .body-trip__date:hover {
    text-decoration: underline;
  }

  .body-trip__people:hover {
    text-decoration: underline;
  }

  .build-trip__going:hover {
    color: #000;
  }

  .build-trip__going:hover::before {
    color: red;
  }

  .build-trip__heart:hover::before {
    color: blue;
  }

  .lebel__link:hover {
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
    background-color: #e9e8e8;
  }

  .form__button:hover {
    -webkit-transition: -webkit-box-shadow 0.7s;
    transition: -webkit-box-shadow 0.7s;
    transition: box-shadow 0.7s;
    transition: box-shadow 0.7s, -webkit-box-shadow 0.7s;
    -webkit-box-shadow: 0.125rem 0.9375rem 0.9375rem rgb(137, 134, 134);
            box-shadow: 0.125rem 0.9375rem 0.9375rem rgb(137, 134, 134);
  }
}